body {
    --border-color: #c27c4e;
    --white-color: #fff;
    --blue-color: #00bcd4;
    --green-color: #01c414;
    --yellow-color: #ffc107;
    --red-color: pink;
    --text-color: #2e6f9e;
    --background-color: #fefccd;
    --cell-size: 32px;
    --ball-size: 28px;

    color: var(--text-color);
    background: var(--background-color);
    font-family: sans-serif;
}
.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    float: left;
    text-align: center;
}
.active {
    background: #000;
}
.row {
    clear: both;
    overflow: hidden;
}

.counters {
    display: flex;
    justify-content: space-around;
}

.counter {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
}

.counter div {
    margin-left: 6px;
    border-radius: 12px;
    padding: 10px;
    min-width: 50px;
    background: var(--white-color);
    text-align: center;;
 }

#table {
    margin: 0 auto;
    display: inline-block;
    clear: both;
    transform: rotate(270deg);
    min-height: 960px;
    min-width: 644px;
    position: absolute;
    left: 170px;
    top: 4px;
}
.ball {
    width: var(--ball-size);
    height: var(--ball-size);
    border: 1px solid;
    border-radius: 15px;
    cursor: pointer;
}
.blue .ball {
    background: radial-gradient(var(--white-color), var(--blue-color));
    border-color: var(--blue-color);
}
.red .ball {
    background: radial-gradient(var(--white-color), var(--red-color));
    border-color: var(--red-color);
}
.yellow .ball {
    background: radial-gradient(var(--white-color), var(--yellow-color));
    border-color: var(--yellow-color);
}
.green .ball {
    background: radial-gradient(var(--white-color), var(--green-color));
    border-color: var(--green-color);
}
