body {
    --border-color: #c27c4e;
    --white-color: #fff;
    --blue-color: #00bcd4;
    --green-color: #01c414;
    --yellow-color: #ffc107;
    --red-color: pink;
    --text-color: #2e6f9e;
    --background-color: #fefccd;
    --cell-size: 32px;
    --ball-size: 28px;

    color: var(--text-color);
    background: var(--background-color);
}
.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    float: left;
    text-align: center;
}
.active {
    background: #000;
}
.row {
    clear: both;
    overflow: hidden;
}
.count {
    border: 2px solid var(--border-color);
    width: 40px;
    clear: both;
    margin-bottom: 10px;
}
#table {
    border: 2px solid  var(--border-color);
    display: inline-block;
    clear: both;
    transform: rotate(270deg);
    min-height: 960px;
    min-width: 644px;
    position: absolute;
    left: 170px;
    top: 4px;
}
.circle {
    width: var(--ball-size);
    height: var(--ball-size);
    border: 1px solid;
    border-radius: 15px;
    cursor: pointer;
}
.blue .circle {
    background: radial-gradient(var(--white-color), var(--blue-color));
    border-color: var(--blue-color);
}
.red .circle {
    background: radial-gradient(var(--white-color), var(--red-color));
    border-color: var(--red-color);
}
.yellow .circle {
    background: radial-gradient(var(--white-color), var(--yellow-color));
    border-color: var(--yellow-color);
}
.green .circle {
    background: radial-gradient(var(--white-color), var(--green-color));
    border-color: var(--green-color);
}
